:root {
  --orange: #ff6900;
  --red: #ff0705;
  --green: #008000;
  --black: #0e0e0e;
  --white: #ffffff;
}

/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 1.5rem 0;
}

img {
  max-width: 100%;
}

body {
  font-family: Helvetica, sans-serif;
}

/* Utils */
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-red {
  color: var(--red);
}

.text-bar {
  text-decoration: line-through;
}

.normal-height {
  height: 1rem;
}

.text-small {
  font-size: 0.75rem;
}

.bg-orange {
  background-color: var(--orange);
}

.bg-green {
  background-color: var(--green);
}

.bg-red {
  background-color: var(--red);
}

.bg-black {
  background-color: var(--black);
}

/* HEADER */
.logo > img {
  max-height: 1.5rem;
  background-size: cover;
}

/* MAIN */

.card {
  width: 30%;
  padding: 2rem 0;
}

.card-top {
  position: relative;
}

.card-bottom span {
  font-size: 0.8rem;
}

.label-offer {
  padding: 0.3rem;
  font-size: 0.75rem;
  font-weight: bold;
  position: absolute;
  bottom: 3rem;
  left: 0;
}

.label-sustainability {
  padding: 0.3rem;
  font-size: 0.75rem;
  font-weight: bold;
  position: absolute;
  bottom: 3rem;
  left: 2.5rem;
}

.box-heart {
  background-color: var(--white);
  font-size: 2rem;
  padding: 0.4rem 0.8rem;
  position: absolute;
  top: 1rem;
  right: -0.1rem;
}

.card-bottom .text-red {
  font-weight: bold;
}

/* FOOTER */

footer > .container {
  padding: 2rem 0;
}

.footer-main > *,
.footer-aside > * {
  padding: 5px 3px;
}
